
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

header{
    /* background-image: url('../assets/images/Brewery-Image\ .jpeg'); */
    background-size:cover;
    position: sticky;
    margin: 20px;
    padding: 10px;
    background-color: #448AFF;
    border-radius: 8px;
    box-shadow: 10px 5px;
}

/* .bg-hero{
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('../assets/images/Brewery-Image\ .jpeg');
    background-size:cover;
    
}

.bg-hero::before{
    content: "";
    opacity: .75; */
    
/* } */

.row1 {
    position: sticky;
    /* position: -webkit-sticky; */
    height: 400px;
    align-items: center;
}

.row{
    display:flex;
    justify-content: space-between;
   
}

.box1{
    height:300px;
    margin: 50px;
    box-shadow: 0 0 10px;

}

.box2{

    background-color: #448AFF;
    height:400px;
    margin: 50px;
    border: 5px solid;
    border-radius: 12px;
}

.box3 {
    box-shadow: 0 0 10px;
    margin: 50px;
    
}

.btn {
    background-color: aqua;
    border-radius: 10px;
}

.btn2 {
    margin: 5px;
}

.searchbox h4{
    text-emphasis: bold;
}

#search-city {
    font-size: 25px;
    text-align: center;
}

.hidden {
    display: none;
    
}

#brewery-list {
    text-align: center;
    
}

/*Media query for Smaller Desktop Screens & Smaller */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    body {
        font-size: 90px;
    }
    div {
        width: 100%;
        text-align: center;
        flex: 0 70%; 
    }
    section h4 {
        text-align: center;
        width: 100%;
    }
    .brewery {
        width: 100%;
    }
}
/* Media Query for Tablets and Smaller */
@media screen and (max-width: 768px) {

div section {
    padding: 30px 15px;

}
body {
    font-size: 80px;
    text-align: center;
    margin: auto;
    padding: 10px;
}

}
/* Media Query for Mobile Phones and Smaller */
@media screen and (max-width: 575px) {
header {
    flex: 100px;
    text-align: center;
    justify-content: center;
}
    section h4 {
    display: block;
    flex: 100%;
    font-size: 30px;
}
body div {
    font-size: 20px;
    /*order: 3; */
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.intro {
    text-align: center;
    font-size: 25px;
}
#brewery-list {
    color: lawngreen;
}

}
    

